.Form {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.TaskField {
    padding: 8px;
    outline: none;
    flex-grow: 1;
}
.Btn {
    padding: 8px 12px;
    margin-left: 15px;
}